@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");
@import 'material-symbols';
@tailwind base;
@tailwind components;
@tailwind utilities;


.hamburger-line {
   @apply w-[20px] h-[2px] my-1 block bg-slate-200 rounded-full scale-100;
}


.humberger-aktif > span:nth-child(1) {

   @apply origin-top-left rotate-[39deg] duration-300 ease-in-out; 

}


.humberger-aktif > span:nth-child(3) {

   @apply origin-bottom-left rotate-[-39deg] duration-300 ease-in-out;

   /* @apply hidden duration-300 ease-in-out; */
   
}

.humberger-aktif > span:nth-child(2) {

   @apply scale-0  duration-300 ease-in-out;

}


.nmPeraturan {
   @apply text-slate-100 mx-6 my-6 font-onest md:text-[22px] text-[15px] block;
}

.tglPeraturan {
   @apply text-slate-100 ml-6 mt-[-10px] font-onest md:text-[12px] text-[10px];
}

.stsBerlakuPeraturan {
   @apply bg-kuningButton hover:bg-yellow-600 active:bg-yellow-600 active:text-slate-950 text-bluePu font-onest font-normal md:text-[12px] text-[10px] mt-[-10px] rounded-2xl md:w-[110px] w-[80px] md:h-[25px] h-[23px];
}

.downloadPeraturan {
   @apply mt-[-10px] text-slate-100 flex gap-1 font-onest md:text-[13px] text-[10px];
}

.btnDetailPeraturan {
   @apply bg-kuningButton hover:bg-yellow-600 font-onest font-medium text-slate-800 md:text-[15px] text-[10px] md:w-[105px] w-[65px] md:h-[35px] h-[20px] rounded-lg flex items-center justify-center gap-1;
}

body {
   @apply bg-gradient-to-b from-bluePu from-30% to-white;
}


 
 .append-buttons {
   text-align: center;
   margin-top: 20px;
 }
 
 .append-buttons button {
   margin: 5px;
   padding: 10px 20px;
   border: none;
   background-color: #007aff;
   color: white;
   cursor: pointer;
   border-radius: 5px;
 }
 
 .append-buttons button:hover {
   background-color: #005bb5;
 }
 
 svg.star-svg {
   display: inline;
}

.progres-bar {
   @apply rounded-lg w-[60%] h-2.5 ;
}

 
 .progres-bar::-moz-progress-bar {
   @apply bg-kuningButton
 }
 

 .orgchart {
   background: transparent; 
 }

 .orgchart-container {
   border: none
 }

 .orgchart .node:focus, 
.orgchart .node:active {
  background-color: inherit !important;
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
}

 @layer components {
   
   .orgchart {
     @apply w-full;
   }
    
   .org-chart-container {
     @apply flex justify-center p-5 bg-transparent min-h-screen;
   }
 
   .node-box {
     @apply bg-bluePu text-white mx-auto rounded-lg p-4 w-44 shadow-md relative border-none;
   }
 
   .image-container {
     @apply absolute -top-6 left-1/2 transform -translate-x-1/2 bg-white rounded-full p-1;
   }
 
   .node-img {
     @apply w-14 h-14 mx-auto rounded-full border-4 border-bluePu;
   }
 
   .node-role {
     @apply text-xs font-bold uppercase mt-6;
   }
 
   .node-name {
     @apply text-sm mt-2;
   }
 }

 
 
 
 

